#logo {
    width: 396px;
    height: 311px;
}

span {
    font-size: 155px;
}

.banner {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    border-radius: 20px;
    height: 300px;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-weight: bold;
    font-size: 3em;
}

.word {
    position: relative;
    white-space: nowrap;
    color: #7B93FF;
    font-family: 'Jua', sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.word::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #fdff7b;
    overflow: hidden;
    width: 40%;
    animation: run-text 5s infinite linear;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}