/**********************************/


/*********Desktop Managment*********/


/**********************************/

@media all and (min-width: 950px) and (max-width: 1200px) {
    .myListIcons {
        width: 12%;
    }
    /* create playlist MODAL */
    .modalContent {
        width: 84%;
        height: 30%;
        display: flex;
        margin-top: 35%;
        font-size: 2.5em;
    }
    .modalButtons {
        padding: 3% 0 3% 0;
        display: flex;
        justify-content: center;
    }
    .modalButtons input {
        width: 25%;
        font-size: 0.75em;
    }
    input.question {
        font-size: 1em;
    }
    input.question:focus {
        padding-top: 25px;
    }
    input.question+label>span {
        font-size: 0.65em;
        top: -65px;
        left: -12px;
    }
    input.question:focus+label>span {
        font-size: 0.7em;
        top: -90px;
        left: -15px;
    }
    /* nav */
    #menuIcons li {
        width: 15%;
    }
}
/* tiny screen */
@media all and (max-height: 600px) {


    /* #mainOptions{
        height:40%;
    } */
    #mainOptions div input,#editPlaylist,#deletePlaylist{
        height:50px;
    }

    #mainPlaylist{
        height:30%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #mainPlaylistInfo p{
        margin-top:5px;
        margin-bottom:5px;
    }
    #mainPlaylist img {
        height:40%;
        width:5%
    }
    #mySongList{
        height:60%;
    }
    #songsInOnePlaylist p{
        margin-top: .75em;
        margin-bottom: .75em;
    }
   


    
    
}
@media all and (max-height: 550px) {

    /* create playlist MODAL */

    .modalButtons {
        padding: 1% 0 1% 0;
        display: flex;
        justify-content: center;
    }
    .addSongToNewPlaylistButton{
        height:5%;
    }
    #searchResults{
        height:70%;
    }
    .myList{
        height:70%;
    }

    #mySongList{
        height:60%;
    }


    #newPlaylistBtn{
        width:70% !important;
    }

    #menuIcons li{
        height:30%;
    }
    #mainOptions div input,#editPlaylist,#deletePlaylist{
        margin:.5%
    }
    #songsInOnePlaylist p{
        margin-top: 5px;
        margin-bottom: 5px;
    } 
    
}

@media all and (min-device-width: 1504px) {
    .songImg {
        background-color: rgb(238, 238, 238);
        width: 10%;
        height: 10%;
        border-radius: 10px;
        margin: 0;
        padding: 0 1% 0 0;
    }

    #searchNewPlaylist input {
        width: 77%;
    }

    #topMenu {
        font-size: 2vh;
    }
}