/**********************************/
/**********General Style***********/
/**********************************/
@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.eot);
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
        url(../fonts/GothamPro.woff) format('woff'),
        url(../fonts/GothamPro.ttf) format('truetype'),
        url(../fonts/GothamPro.svg) format('svg'),
        url(../fonts/GothaPro.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background-color: rgb(206, 206, 206);
}
.neonBlue {
    /* background-color: rgb(123, 147, 255); */
    box-shadow:
        inset 50px 0 100px rgb(0, 153, 255),
        inset -50px 0 100px rgb(251, 255, 0);
}
.neonYellow {
    /* background-color: rgb(253, 255, 123); */
    box-shadow:
        inset 60px 0 120px rgb(251, 255, 0),
        inset -60px 0 120px rgb(132, 0, 255);
}

#landingWrapper {
    height: 100vh;
    margin: auto;
    width: 65%;
    padding: 35px;
    text-align: center;
    font-family: 'Gotham Pro';
}
.brandName {
    font-size: 5em;
    font-family: "Jua";
}

#equalizer {
    border: 1px solid white;
    height: 25%;
    margin: 0 0 35px 0;
}

#accountBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signIn, #createAccount {
    width: 20%;
    height: 20%;
    padding: 14px 0;
    border-radius: 10px;
    background-color: white;
    vertical-align: middle;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}


