/**********************************/


/**********General Style***********/


/**********************************/

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.eot);
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'), url(../fonts/GothamPro.woff) format('woff'), url(../fonts/GothamPro.ttf) format('truetype'), url(../fonts/GothamPro.svg) format('svg'), url(../fonts/GothaPro.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(206, 206, 206);
}

.btn {
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

input.submit {
    width: 20em;
    height: 2em;
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

#landingWrapper {
    height: 100vh;
    margin: auto;
    width: 65%;
    padding: 35px;
    text-align: center;
    font-family: 'Gotham Pro';
}

#brandBlock {
    position: relative;
    color: white;
    height: 20%;
    /* border: 1px solid red; */
}

.brandName {
    font-size: 5em;
    font-family: "Jua";
}

.en {
    position: absolute;
    top: 20%;
    left: 30%;
    animation: fade1 10s ease-in-out;
    animation-iteration-count: infinite;
}

.kr {
    position: absolute;
    top: 20%;
    left: 40%;
    opacity: 0;
    animation: fade2 10s ease-in-out;
    animation-iteration-count: infinite;
}

#equalizer {
    height: 25%;
    width: 45%;
    margin-left: AUTO;
    margin-RIGHT: AUTO;
    margin-bottom: 15%;
    margin-top: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#accountBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signInText,
#createAccount {
    display: block;
    width: 40vh;
    height: 20%;
    padding: 14px 0;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    text-decoration: none;
}

#brandBlock {
    position: relative;
    color: white;
}


/* #loginForm {
    display: none;
} */

#eqWrapper {
    width: 60%;
    height: 30vh;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.eqBar {
    height: 5%;
    width: 5%;
    background-color: white;
}

#eqBar1 {
    animation: bar1Animation 10s ease-in-out infinite;
}

#eqBar2 {
    animation: bar2Animation 10s ease-in-out infinite;
}

#eqBar3 {
    animation: bar3Animation 10s ease-in-out infinite;
}

#eqBar4 {
    animation: bar4Animation 10s ease-in-out infinite;
}

#eqBar5 {
    animation: bar5Animation 10s ease-in-out infinite;
}

#eqBar6 {
    animation: bar6Animation 10s ease-in-out infinite;
}

#eqBar7 {
    animation: bar7Animation 5s ease-in-out infinite;
}

#eqBar8 {
    animation: bar8Animation 7.5s ease-in-out infinite;
}

#eqBar9 {
    animation: bar9Animation 7.5s ease-in-out infinite;
}

#eqBar10 {
    animation: bar10Animation 1s ease-in-out infinite;
}

#eqBar11 {
    animation: bar11Animation 1s ease-in-out infinite;
}

#eqBar12 {
    animation: bar12Animation 1s ease-in-out infinite;
}


/* Animations */

@keyframes fade1 {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bar1Animation {
    0% {
        height: 60%;
    }
    9% {
        height: 50%;
    }
    10% {
        height: 70%;
    }
    19% {
        height: 30%;
    }
    20% {
        height: 60%;
    }
    24% {
        height: 50%;
    }
    25% {
        height: 70%;
    }
    39% {
        height: 30%;
    }
    40% {
        height: 60%;
    }
    64% {
        height: 30%;
    }
    65% {
        height: 60%;
    }
    79% {
        height: 50%;
    }
    80% {
        height: 60%;
    }
    85% {
        height: 60%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar2Animation {
    0% {
        height: 70%;
    }
    9% {
        height: 50%;
    }
    10% {
        height: 70%;
    }
    19% {
        height: 25%;
    }
    20% {
        height: 70%;
    }
    24% {
        height: 30%;
    }
    24% {
        height: 65%;
    }
    39% {
        height: 35%;
    }
    40% {
        height: 70%;
    }
    64% {
        height: 35%;
    }
    65% {
        height: 70%;
    }
    79% {
        height: 50%;
    }
    80% {
        height: 70%;
    }
    85% {
        height: 60%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar3Animation {
    0% {
        height: 80%;
    }
    9% {
        height: 45%;
    }
    10% {
        height: 80%;
    }
    19% {
        height: 45%;
    }
    20% {
        height: 80%;
    }
    39% {
        height: 40%;
    }
    40% {
        height: 85%;
    }
    64% {
        height: 50%;
    }
    65% {
        height: 80%;
    }
    79% {
        height: 60%;
    }
    80% {
        height: 80%;
    }
    85% {
        height: 90%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar4Animation {
    0% {
        height: 90%;
    }
    9% {
        height: 50%;
    }
    10% {
        height: 90%;
    }
    19% {
        height: 50%;
    }
    20% {
        height: 90%;
    }
    39% {
        height: 35%;
    }
    40% {
        height: 90%;
    }
    64% {
        height: 35%;
    }
    65% {
        height: 90%;
    }
    79% {
        height: 70%;
    }
    80% {
        height: 90%;
    }
    85% {
        height: 60%;
    }
    99% {
        height: 40%;
    }
}

@keyframes bar5Animation {
    0% {
        height: 75%;
    }
    9% {
        height: 45%;
    }
    10% {
        height: 75%;
    }
    19% {
        height: 45%;
    }
    20% {
        height: 75%;
    }
    39% {
        height: 45%;
    }
    40% {
        height: 60%;
    }
    49% {
        height: 35%;
    }
    50% {
        height: 45%;
    }
    59% {
        height: 30%;
    }
    60% {
        height: 45%;
    }
    64% {
        height: 35%;
    }
    65% {
        height: 70%;
    }
    69% {
        height: 35%;
    }
    70% {
        height: 50%;
    }
    79% {
        height: 40%;
    }
    80% {
        height: 70%;
    }
    85% {
        height: 55%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar6Animation {
    0% {
        height: 60%;
    }
    9% {
        height: 40%;
    }
    10% {
        height: 60%;
    }
    19% {
        height: 30%;
    }
    20% {
        height: 60%;
    }
    39% {
        height: 35%;
    }
    40% {
        height: 60%;
    }
    49% {
        height: 35%;
    }
    50% {
        height: 50%;
    }
    59% {
        height: 30%;
    }
    60% {
        height: 50%;
    }
    64% {
        height: 35%;
    }
    65% {
        height: 60%;
    }
    69% {
        height: 30%;
    }
    70% {
        height: 60%;
    }
    79% {
        height: 40%;
    }
    80% {
        height: 90%;
    }
    85% {
        height: 60%;
    }
    99% {
        height: 40%;
    }
}

@keyframes bar7Animation {
    0% {
        height: 55%;
    }
    9% {
        height: 30%;
    }
    10% {
        height: 55%;
    }
    19% {
        height: 30%;
    }
    20% {
        height: 65%;
    }
    29% {
        height: 40%;
    }
    30% {
        height: 55%;
    }
    39% {
        height: 40%;
    }
    40% {
        height: 55%;
    }
    49% {
        height: 60%;
    }
    50% {
        height: 75%;
    }
    59% {
        height: 60%;
    }
    60% {
        height: 65%;
    }
    69% {
        height: 40%;
    }
    70% {
        height: 55%;
    }
    79% {
        height: 40%;
    }
    80% {
        height: 55%;
    }
    89% {
        height: 40%;
    }
    90% {
        height: 65%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar8Animation {
    0% {
        height: 65%;
    }
    9% {
        height: 30%;
    }
    10% {
        height: 65%;
    }
    19% {
        height: 30%;
    }
    20% {
        height: 65%;
    }
    29% {
        height: 30%;
    }
    30% {
        height: 65%;
    }
    39% {
        height: 30%;
    }
    40% {
        height: 65%;
    }
    49% {
        height: 60%;
    }
    50% {
        height: 75%;
    }
    59% {
        height: 60%;
    }
    60% {
        height: 75%;
    }
    69% {
        height: 60%;
    }
    70% {
        height: 65%;
    }
    79% {
        height: 40%;
    }
    80% {
        height: 65%;
    }
    89% {
        height: 40%;
    }
    90% {
        height: 65%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar9Animation {
    0% {
        height: 75%;
    }
    9% {
        height: 30%;
    }
    10% {
        height: 75%;
    }
    19% {
        height: 30%;
    }
    20% {
        height: 75%;
    }
    29% {
        height: 30%;
    }
    30% {
        height: 75%;
    }
    39% {
        height: 30%;
    }
    40% {
        height: 65%;
    }
    49% {
        height: 40%;
    }
    50% {
        height: 75%;
    }
    59% {
        height: 40%;
    }
    60% {
        height: 75%;
    }
    69% {
        height: 50%;
    }
    70% {
        height: 75%;
    }
    79% {
        height: 50%;
    }
    80% {
        height: 75%;
    }
    89% {
        height: 30%;
    }
    90% {
        height: 75%;
    }
    99% {
        height: 30%;
    }
}

@keyframes bar10Animation {
    0% {
        height: 50%;
    }
    10% {
        height: 90%;
    }
    100% {
        height: 30%;
    }
}

@keyframes bar11Animation {
    0% {
        height: 20%;
    }
    10% {
        height: 60%;
    }
    100% {
        height: 15%;
    }
}

@keyframes bar12Animation {
    0% {
        height: 40%;
    }
    49% {
        height: 20%;
    }
    50% {
        height: 30%;
    }
    99% {
        height: 15%;
    }
}


/* MEDIA QUERY landing */

@media all and (max-device-width: 480px) {
    body {
        margin: 0;
        background-color: rgb(206, 206, 206);
    }
    #landingWrapper {
        height: 124vh;
        margin: auto;
        width: 65%;
        padding: 35px;
        text-align: center;
        font-family: 'Gotham Pro';
    }
    #brandBlock {
        position: relative;
        color: white;
        height: 20%;
    }
    .en {
        position: absolute;
        top: 20%;
        left: 2%;
        animation: fade1 10s ease-in-out;
        animation-iteration-count: infinite;
        font-size: 8em;
        font-family: "Jua";
    }
    .kr {
        position: absolute;
        top: 20%;
        left: 19%;
        opacity: 0;
        animation: fade2 10s ease-in-out;
        animation-iteration-count: infinite;
        font-size: 10em;
        font-family: "Jua";
    }
    #equalizer {
        height: 24%;
        width: 94%;
        margin-left: AUTO;
        margin-RIGHT: AUTO;
        margin-bottom: 56%;
        margin-top: -14%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    #accountBtns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #signInText,
    #createAccount {
        display: block;
        width: 30vh;
        padding: 45px 0;
        margin: 40px 0 10px 0;
        font-size: 3em;
    }
    #brandBlock {
        position: relative;
        color: white;
    }
    /* #loginForm {
        display: none;
    } */
    #eqWrapper {
        width: 60%;
        height: 30vh;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    .eqBar {
        height: 5%;
        width: 5%;
        background-color: white;
    }
}


/* login + sign up modal css */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 17% auto 15% auto;
    border: 1px solid #888;
    width: 48%;
    border-radius: 25px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/* form 3 test */

.field {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #fda085);
}

.field__input {
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: 3em;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

.a-field {
    display: inline-block;
}

.a-field__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.a-field__input:focus {
    outline: none;
}

.a-field {
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
}

.a-field__input {
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid rgb(136, 199, 199);
    /* border-bottom:linear-gradient(to right, rgb(0, 153, 255) 0%, rgb(136, 199, 199) 100%); */
}

.a-field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input:not(:placeholder-shown)~.a-field__label-wrap .a-field__label {
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.a-field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.a-field__label-wrap {
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);
    pointer-events: none;
    cursor: text;
    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
}

.a-field__input:focus~.a-field__label-wrap .a-field__label {
    opacity: 1;
    bottom: var(--uiFieldHeight);
}

.a-field_a1 .a-field__input {
    transition: border-color .2s ease-out;
    will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
    border-color: var(--fieldBorderColorActive);
}

.a-field_a2 .a-field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
    position: absolute;
    bottom: 0;
    left: 0;
    will-change: width;
    transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus~.a-field__label-wrap::after {
    width: 100%;
}

.a-field_a3 {
    padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
    position: absolute;
    bottom: 0;
    left: 0;
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus~.a-field__label-wrap::after {
    height: 100%;
    opacity: 1;
}

.a-field_a3 .a-field__input:focus~.a-field__label-wrap .a-field__label {
    bottom: calc(var(--uiFieldHeight) + .5em);
}

.field {
    --fieldBorderColor: #fda085;
    --fieldBorderColorActive: #fd6d365;
}

.page {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    display: grid;
    grid-gap: 30px;
    align-items: flex-end;
    order: 1;
}

@media (min-width: 481px) {
    .page {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .modal-content {
        background-color: #fefefe;
        margin: 64% auto 15% auto;
        border: 1px solid #888;
        width: 72%;
        border-radius: 34px;
    }
    #firstP,
    .loginformP,
    #loginland,
    #emailland,
    #pwdland,
    #conpwdland {
        font-size: 34px;
    }
    #submit,
    #reset,
    #submitRegister {
        font-size: 34px;
        height: 150px;
        width: 150px;
    }
}


/* form 3 test end */