/**********************************/


/**********General Style***********/


/**********************************/

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.eot);
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'), url(../fonts/GothamPro.woff) format('woff'), url(../fonts/GothamPro.ttf) format('truetype'), url(../fonts/GothamPro.svg) format('svg'), url(../fonts/GothaPro.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
}

.mainWrapper {
    /* background-color: rgb(243, 243, 243); */
    border-radius: 20px;
    height: 99.9vh;
    margin: auto;
    width: 65%;
    padding: 35px;
    font-family: 'Gotham Pro';
}

.neonBlue {
    /* background-color: rgb(123, 147, 255); */
    box-shadow: inset 50px 0 100px rgb(0, 153, 255), inset -50px 0 100px rgb(251, 255, 0);
}

.neonYellow {
    /* background-color: rgb(253, 255, 123); */
    box-shadow: inset 60px 0 120px rgb(251, 255, 0), inset -60px 0 120px rgb(132, 0, 255);
}


/************ Styling for home view ************/

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

#banner,
#mainContent,
#nav {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    border-radius: 20px;
}

#banner {
    height: 15%;
}

#logo {
    border-radius: 20px;
}

#mainContent {
    height: 60%;
}

#nav {
    height: 15%;
}

#menuIcons {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

#menuIcons li {
    align-items: baseline;
    width: 10%;
    height: 50%;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 0.9em;
}

#menuIcons li:first-child {
    background-color: rgb(123, 147, 255);
}

#menuIcons li:nth-child(2) {
    background-color: rgb(253, 255, 123);
}

#menuIcons li>img {
    height: 60%;
    width: 50%;
}


/************ Styling for landing view ************/

#menuIcons a {
    text-decoration: none;
    color: black
}

#myListIcon img {
    max-width: 100%;
    max-height: 66%;
}

#menuIcons li p {
    margin-top: 0;
}

#playlistImg {
    max-width: 100%;
    max-height: 66%;
}

#mainContent h1 {
    padding-left: 5%;
}


/* LIST VIEW */

#myList {
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#myList li {
    display: flex;
    flex-direction: row;
    padding: 3%;
    height: 20%;
}

#myList img {
    max-height: 100%;
    background-color: white;
    margin-right: 3%;
    padding: 0.5%;
}

#playlistInfo {
    margin-top: -2%;
    font-size: 0.9em;
}

#menuIcons li:first-child {
    background-color: rgb(123, 147, 255);
}

#menuIcons li:nth-child(2) {
    background-color: rgb(253, 255, 123);
}

#menuIcons li>img {
    height: 60%;
    width: 50%;
}

#menuIcons a {
    text-decoration: none;
    color: black
}

#myListIcon img {
    max-width: 100%;
    max-height: 66%;
}

#menuIcons li p {
    margin-top: 0;
}

#playlistImg {
    max-width: 100%;
    max-height: 66%;
}

#mainContent h1 {
    padding-left: 5%;
}


/* LIST VIEW */

#myList {
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#myList li {
    display: flex;
    flex-direction: row;
    padding: 3%;
    height: 20%;
}

#myList img {
    max-height: 100%;
    background-color: white;
    margin-right: 3%;
    padding: 0.5%;
}

#playlistInfo {
    margin-top: -2%;
    font-size: 0.9em;
}


/* Mobile Management */

@media all and (max-device-width: 480px) {
    #banner {
        background-color: white;
        box-shadow: 0 0 0 rgb(255, 255, 255);
        border-radius: 0;
        border: 1px solid red;
    }
}


/**********************************/


/**********BANNER Style***********/


/**********************************/

#bannerImage img {
    width: 50%;
    height: 50%;
    padding-left: 20%;
}

#banner {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    border-radius: 20px;
    height: 300px;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bannerImage {
    width: 30%;
}

#bannerText {
    width: 70%;
}

#banner .word {
    width: 70%;
    position: relative;
    color: #7B93FF;
    font-family: 'Jua', sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    font-size: 155px;
}

#banner .word::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: -10;
    color: rgba(253, 255, 123, 0.5);
    overflow: hidden;
    width: 40%;
    animation: run-text 5s infinite linear;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}