/**********************************/


/**********General Style***********/


/**********************************/

@font-face {
    font-family: 'Gotham Pro';
    src: url(fonts/GothamPro.eot);
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'), url(../fonts/GothamPro.woff) format('woff'), url(../fonts/GothamPro.ttf) format('truetype'), url(../fonts/GothamPro.svg) format('svg'), url(../fonts/GothaPro.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* top menu css */

#topHeader {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(240, 240, 240);
    /* opacity: 50%; */
    height: 25px;
    padding-top: .2%;
    padding-bottom: .2%;
    padding-right: 10%;
    margin-bottom: 1%;
}

#topMenu {
    display: flex;
    justify-content: space-between;
    /* width:15%; */
    font-size: 3vh;
    margin-left: 50%;
}

#lang {
    margin-right: 20%;
}

#iconProf {
    width: 5%;
}

#topMenuDropDown {
    z-index: 1;
    border-radius: 0 0 5px 5px;
    width: 5%;
    text-align: center;
    padding-bottom: .5%;
}

.mainWrapper {
    border-radius: 20px;
    height: 99.9vh;
    margin: auto;
    width: 65%;
    padding: 0px, 35px, 35px;
}

.mainWrapper {
    border-radius: 20px;
    height: 99.9vh;
    margin: auto;
    width: 65%;
    padding: 0px, 35px, 35px;
}

.shown {
    display: block !important;
}

.hidden {
    display: none !important;
}


/************ Styling for home view ************/

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.gothamPro {
    font-family: 'Gotham Pro';
}


/* new button style */

.btn,
#menuIcons li {
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover,
#menuIcons li:hover {
    background-position: right center;
}

.btn:focus {
    outline: none;
}

.btnBlue,
#menuIcons li {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 20%, #8fd3f4 71%, #84fab0 100%);
}

.btnOrange,
#menuIcons li:focus {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

#mainContent,
#nav,
#results {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    border-radius: 20px;
}

#mainContent,
#results {
    height: 60%;
}

#nav {
    height: 15%;
}

#menuIcons {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

#menuIcons li {
    width: 10%;
    height: 39%;
    padding: 18px;
    display: flex;
    align-items: center;
}

#menuIcons li img {
    height: 100%;
    width: 100%;
}

.navIcons {
    width: 30%;
}

#menuIcons a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayedPlaylistsModal {
    text-decoration: none;
    color: black;
}

#myListIcon img {
    max-width: 100%;
    max-height: 66%;
}

#menuIcons li p {
    margin: 0;
}

#playlistImg,
#songImg {
    max-width: 100%;
    max-height: 66%;
}

#mainContent h1 {
    padding-left: 5%;
}


/* LIST VIEW */

.myList {
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0 5%;
}

.myList li {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 2% 0;
    height: 25%;
    border-bottom: 0.1px solid;
    width: 100%;
}

.myList img {
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(238, 238, 238);
    margin-right: 3%;
    padding: 0.5%;
    border-radius: 10px;
}

#mySongList .songImgInPlaylistSongs {
    max-height: 100%;
    background-color: rgb(238, 238, 238);
    margin-right: 3%;
    padding: 0.5%;
    border-radius: 10px;
}

.myListIcons {
    height: 100%;
    width: 10%;
}

#songInfo {
    margin-top: -11%;
    width: 100%;
}

.playlistInfo {
    width: 150%;
    padding: 1% 0;
    vertical-align: middle;
}

.darkGrey {
    color: rgb(102, 96, 96);
}

.playlistInfo p {
    margin: 5% 0 5% 10%;
}

.playlistNameText,
#songNameText {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 1% 0;
}

#mainPlaylistInfo {
    padding-left: 2%;
    width: 58.5%;
}

#createTxt {
    margin: 0 0 0 3%;
}

#createPlaylist input[type="image"] {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.displayedPlaylists {
    text-decoration: none;
    color: white;
    width: 30%;
}

.displayedPlaylists:hover p {
    color: #f460faff;
}

.songListBrands {
    display: flex;
    color: white;
}

.songListBrandCodes {
    display: flex;
    width: 12%;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 5px rgb(187, 186, 186);
    margin-right: 11px;
    padding: 3px;
    background-color: #8fd3f4;
    font-weight: bolder;
}

.songListBrandCodes:hover {
    background-color: #5fbbe9;
}

.songListBrandCodes:active {
    background-color: #5fbbe9;
    box-shadow: 3px 5px rgb(143, 142, 142);
    transform: translateY(4px);
}

.songListBrandCodes label {
    cursor: pointer;
    margin-right: 7%;
}

.songListBrandCodes input {
    padding: 2%;
    width: 64%;
    text-align: center;
    margin-right: 8%;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    color: white;
}


/* new playlist modal  */

.modal,
.modalSearch {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.cancel {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cancel:hover,
.cancel:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalContent,
.modalContentSearch {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    color: white;
    margin: 15% auto;
    padding: 1% 0px 3.5% 0px;
    width: 35%;
    height: 25%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.7em;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
}

.modalContentSearch {
    height: fit-content;
    margin: 3% auto;
    padding: 1% 0px 1% 0px;
    /* background-color:#8fd3f4;
    box-shadow: none;    */
}

#myListModal {
    margin-bottom: 0px;
}

#mylistModal li {
    border-bottom: 1px solid white;
    text-align: center;
}

.modalButtons {
    padding: 6% 0 4% 0;
    display: flex;
    justify-content: center;
}

.modalButtons input {
    border: 0;
    font-size: 0.8em;
    padding: 3%;
    margin: 1.6%;
    border-radius: 10px;
    width: 38%;
    color: white;
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    cursor: pointer;
    text-transform: lowercase;
}


/* new modal style */

input:focus {
    outline: 0;
}


/* modal question */

input.question {
    font-size: 39px;
    color: white;
    font-weight: 300;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 14%;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}


/* modal Underline and Placeholder */

input.question+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin-left: 10%;
    width: 20%;
    ;
    border-bottom: 2px solid white;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus+label {
    width: 80%;
}

input.question:focus {
    padding-top: 35px;
    color: white;
}

input.question:focus+label>span {
    top: -100px;
    font-size: 22px;
    color: white;
}

input.question+label>span {
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 1em;
    top: -66px;
    left: -12px;
    z-index: 0;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


/* playlist songs  */

#songsInOnePlaylist {
    font-size: 0.9em;
    width: 72%;
}

#mySongList {
    height: 50.5%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding-left: 10%;
}

#mySongList li {
    padding: 2% 0 4% 0;
}

#songsInOnePlaylist p {
    margin-top: .75em;
    margin-bottom: .75em;
}


/* minus icon for songs and delete song modal*/

img.minusIcon {
    background-color: transparent;
    height: 63%;
}

img.minusIcon:hover,
.addIcon img:hover {
    background-color: #84fab0;
    height: 63%;
}

.addIcon img {
    padding: 5%;
    border-radius: 10px;
}

#deleteSongModal .modalContent {
    height: 21%;
    font-size: 1.8em;
}


/* ellipse menu on playlist options */

#playlistOptions {
    display: flex;
    cursor: pointer;
    width: 24%;
}

#playlistOptions>div {
    width: 5px;
    height: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#playlistOptions:hover .circle,
#playlistOptions:focus .circle {
    background: rgb(87, 84, 84);
}

.circle {
    margin: 3px;
    border-radius: 50%;
}

#playlistOptions:hover~.circle,
.playlistOptions:focus~.circle {
    transform: rotate(45deg);
}

#playlistOptions>div:hover,
.playlistOptions>div:focus {
    outline: none;
}


/* playlist options modal */

#mainPlaylist .modalButtons {
    flex-direction: column;
    align-items: center;
    padding: 7% 0 0 0;
}

#mainPlaylist .modalButtons input {
    width: 87%;
}

#mainPlaylist .modalButtons div {
    width: 100%;
}

#editPlaylistForm {
    display: none;
}

#areYouSure {
    display: none;
    padding-top: 11%;
}

#areYouSure .areYouSureBtns input,
.areYouSureBtns input,
.editProfileBtns input[type=submit],
.editProfileBtns input[type=button] {
    height: 63px;
    border: none;
    padding: 4% 5%;
    font-size: 0.6em;
    width: 38%;
    cursor: pointer;
}


/* edit playlist */

.editPlaylistBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editPlaylistContent,
#editBtns {
    display: flex;
}

.editPlaylistContent {
    justify-content: center;
    align-items: center;
    margin: 10% 0 1% 0;
}

.albumIcon {
    width: 25%;
    position: relative;
}

.albumIcon div {
    position: absolute;
    bottom: 4%;
    left: 0;
    font-size: 0.5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 0 0 10px 10px;
}

#editPlaylistImg {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

#editPlaylistInfo {
    text-align: left;
    width: 30%;
    margin: 0 0 0 5%;
}

#newPlaylistName {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 0.7em;
    color: rgb(206, 206, 206);
    padding: 0 0 0 3%;
}

#editPlaylistInfo p {
    font-size: 0.5em;
    margin: 10% 0;
}

#editBtns {
    justify-content: center;
    width: 60%;
}

#editBtns input {
    height: 63px;
    border: none;
    padding: 4% 5%;
    font-size: 0.6em;
    width: 38%;
    cursor: pointer;
}

.editProfileBtns {
    display: flex;
    justify-content: center;
}


/* Scrollbar */


/* width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
    border-radius: 5px;
}


/**********BANNER Style***********/

#bannerImage img {
    width: 35%;
    height: 35%;
    padding: 5%;
    /* padding-left: 15%; */
}

#banner,
#search {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    border-radius: 20px;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannerImage {
    width: 30%;
    margin-right: -14%;
}

#banner .word {
    width: 70%;
    position: relative;
    /* color: #7B93FF; */
    font-family: 'Jua', sans-serif;
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 1); */
    font-size: 5em;
    background-color: rgb(240, 239, 239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner .word::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: -10;
    /* color: rgba(253, 255, 123, 0.5); */
    overflow: hidden;
    width: 40%;
    animation: run-text 5s infinite linear;
    /* text-shadow: 0 0 3px rgba(255, 255, 255, 1); */
    background-color: #f460faff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*----------- profile page style -----------------*/

#editProfileForm,
.editProfileBlock,
#profilelastP {
    display: flex;
}

#editProfileForm {
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
}

.editProfileBlock {
    width: 80%;
}

.editProfileBlock {
    justify-content: center;
}

.profileImg {
    width: 20%;
    margin: 0 3% 0 0;
}

.error {
    color: red;
    font-size: 0.9em;
    margin: 0 0 3% 0;
}

.error+p {
    display: none;
}

.profileformP label {
    width: 40%;
    margin: 0 3% 0 0;
}

.profileformP input {
    width: 50%;
    border-radius: 3px;
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 1em;
    color: rgb(102, 96, 96);
    padding: 0 0 0 3%;
}

#profilelastP {
    width: 65%;
    justify-content: center;
}

#profilelastP .btn {
    width: 30%;
    border: none;
}

#changePwd {
    visibility: hidden;
}

#changePwdBtn {
    width: 45%;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 5px rgb(187, 186, 186);
    padding: 3px;
    background-color: #8fd3f4;
    font-weight: bolder;
    text-align: center;
}

#changePwdBtn:hover {
    background-color: #5fbbe9;
}

#changePwdBtn:active {
    background-color: #5fbbe9;
    box-shadow: 3px 5px rgb(143, 142, 142);
    transform: translateY(4px);
}


/* .deleteProfileModal {
    display: none;
} */


/*----------- search page style -----------------*/

#search {
    padding: 1%;
    height: 10%;
    display: flex;
    /* flex-direction: column; */
    width: 98%;
}

.searchOptions {
    color: black;
    display: flex;
    width: 10%
}

.searchOption {
    background-color: rgb(240, 239, 239);
    font-size: x-large;
    padding-left: 16%;
    padding-right: 16%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.searchOptionSelected {
    background-color: #84fab0 !important;
}

.searchOptionsExpanded {
    width: 37%;
}

.searchOptionExpanded {
    display: flex;
    width: 20%;
    padding-left: 7%;
    padding-right: 7%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(240, 239, 239);
}

#song {
    border-radius: 15px 0px 0px 15px;
}

#searchOptions>div:hover,
#resetSearch:hover {
    background-color: #8fd3f4;
}

#resetSearch,
#entry,
.searchOptions {
    height: 65%;
    margin: 0%
}

.entry {
    width: 80%;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 4vh;
    /* justify-self: right; */
}

.compactEntry {
    width: 65%;
}

#resetSearch:focus {
    outline: none;
}

#resetSearch {
    background-color: rgb(240, 239, 239);
    border: none;
    width: 10%;
    font-size: 1.3em;
    line-height: 50%;
    border-radius: 0px 15px 15px 0px;
}

#resetSearch:focus {
    outline: none !important;
    background-color: rgb(228, 225, 225);
}

@keyframes run-text {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/**********Search Page Style***********/

#mainPlaylist {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 3% 0 2% 4%;
    font-size: 1.2em;
}

#mainPlaylistImg {
    width: 13%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 1%;
}

#goBackBtn {
    width: 85%;
    border-radius: 10px;
    padding: 0.2%;
}

#goBackBtn:hover {
    background-color: #84fab0;
}

#mainPlaylist a {
    width: 5%;
    align-self: flex-start;

}

/* #mainPlaylist p {
margin: 1%;
} */

#results {
    padding: 0 3% 0 3%;
}

#searchResults {
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.resultOption,
.brandCodes {
    display: flex;
    align-items: center;
}

.brandCodes .songListBrandCodes p {
    padding: 1% 1%;
    font-weight: lighter;
}

.resultOption {
    width: 100%;
    padding: 3% 0 3% 0;
    border-bottom: 0.1px solid;
}

.songImg img {
    width: 100%;
    height: 100%;
}

.addIcon img {
    height: 100%;
    width: 100%;
}

.songImg {
    background-color: rgb(238, 238, 238);
    width: 10%;
    height: 10%;
    border-radius: 10px;
    margin: 0;
}

.resultOption div:nth-child(2) {
    width: 75%;
    margin: 0;
}

.addIcon {
    width: 5%;
    height: 5%;
    margin: 0;
}

.resultOption div {
    margin-right: 3%;
}

.brandCodes p {
    margin: 0 3% 0 0;
}

.songTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 17.6px 0;
    color: rgb(102, 96, 96);
}

.errorMsg {
    font-size: 1.1em;
    font-weight: bold;
}

#searchNewPlaylist {
    display: none;
}

.visibleSearchNewPlaylist {
    display: flex !important;
    justify-content: center;
}

.visibleSearchNewPlaylist .playlistName {
    border: none;
}

.visibleSearchNewPlaylist img {
    margin-left: 5%;
}

.invisibleSearchNewPlaylistBtn {
    display: none;
}

.addPlaylistSearchBtn {
    background-color: #84fab0;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    margin-bottom: 20%;
    /* position: relative; */
    /* align-self: flex-end; */
    /* display: inline-block; */
    /* top: 52%;
    left: 10%; */
    margin: auto;
    margin-top: 5%;
    height: 25% !important;
    width: 60% !important;
    padding-top: .5%;
    padding-bottom: .5%;
    cursor: pointer;
    /* box-shadow: 0 5px 25px rgba(240, 240, 240,0.5); */
}

.addSongToNewPlaylistButton {
    align-self: center;
    padding: 0%;
    height: 15%;
}

.addPlaylistSearchBtn img {
    height: 100%;
    width: 65%;
    padding: 7%
}

.searchSubmit {
    position: relative;
    top: 50%;
}

label[for=playlistId] {
    padding-bottom: 5px;
}

#playlistId {
    border-radius: 10px;
    /* margin-left: 3%; */
    align-self: center;
    background-color: #8fd3f4;
    color: white;
    padding: 1vh;
    width: 80%;
    max-height: 40vh !important;
    overflow-y: scroll;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 0%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(240, 240, 240, 0.5);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin-top: 3%;
}

.playlists {
    cursor: pointer;
    padding: 3%;
}

#playlistId input[type=radio] {
    display: none;
}

#playlistId input[type=radio]:checked+.playlists {
    background-color: #84fab0;
}

.playlistName {
    height: 1.5em;
    margin: 5% auto;
    font-size: 4vh;
}

#playlistId option {
    padding: 30px;
}

.modalContentSearch form {
    height: 40%;
}


/* challenge page style */

#challengeWrapper {
    height: 100%;
}

#challengeScndWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#singerFlex {
    width: 50%;
    height: 100%;
}

#songsAndScoreFlex {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#challengeWrapper h1 {
    padding-left: 0;
}

#challengeSingers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#singerInput {
    width: 56%;
}

#listOfSingers {
    height: 43%;
    width: 55%;
    margin-top: 5%;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
}

#listOfSingers li {
    font-size: 1.5em;
    padding: 2%;
}

#listOfSingers li:nth-child(odd) {
    background-color: #8fd3f4;
}

#listOfSingers li:nth-child(even) {
    background-color: white;
    color: rgb(146, 143, 143);
}

#listOfSingers li input {
    float: right;
    width: 10%;
    height: 25px;
    background: transparent url('../images/minusIcon3.png') center/cover;
}

#challengeSingers input {
    height: 38px;
    font-size: 1.5em;
    width: 76%;
    border: none;
    border-radius: 10px;
    color: rgb(146, 143, 143);
    padding-left: 5%;
}

#singerInput button {
    border: none;
    border-radius: 10px;
    height: 75%;
    width: 12%;
    padding-top: -11px;
    vertical-align: top;
    color: rgb(146, 143, 143);
    box-shadow: 3px 5px rgb(187, 186, 186);
    background: url('../images/plusIcon4.png') center/cover;
}

#singerInput button:active,
#singerInput button:hover {
    background-color: rgb(156, 156, 156);
    color: white;
    box-shadow: 3px 5px rgb(143, 142, 142);
    transform: translateY(4px);
}

#singerInput button:focus {
    outline: 0;
}

#challengeSingers label {
    padding: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

#challengeSongs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}

#scoreOptionWrapper {
    display: flex;
    margin: 20% 0 15% 0;
    font-size: 1.2em;
}

#scoreOptionWrapper input {
    margin-top: 7px;
}

#chalPlaylistOptionsBtns {
    display: flex;
    height: 55%;
}

#chalPlaylistOptionsBtns label {
    padding: 3.5%;
    border: none;
    font-weight: bold;
    box-shadow: 3px 5px rgb(143, 142, 142);
    background: linear-gradient(to right, #84fab0 0%, #8fd3f4 20%, #8fd3f4 71%, #84fab0 100%);
}

#chalPlaylistOptionsBtns label:active,
#chalPlaylistOptionsBtns label:hover {
    box-shadow: 3px 5px rgb(143, 142, 142);
}

#chalPlaylistOptionsBtns input[type=radio] {
    display: none;
}

#chalPlaylistOptionsBtns input[type=radio]:checked+label {
    background: #84fab0;
}

#selectAllSongs {
    display: none;
}

#selectPlaylist {
    width: 89%;
    margin-top: 7%;
}

#playlists {
    width: 100%;
    height: 145%;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 1.3em;
    box-shadow: 3px 5px rgb(143, 142, 142);
    background-color: #84fab0;
}

#playlists:focus {
    outline: 0;
}

#selectPlaylist option {
    color: white;
    background-color: #8fd3f4;
}

#selectAllSongs {
    padding-top: 7%;
    font-size: 1.2em;
}

#selectAllSongs input {
    width: 10%;
    border: none;
    border-radius: 5px;
    height: 131%;
    text-align: center;
    font-size: 1em;
}

#startChalBtn {
    border: none;
    background-color: #f460faff;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0;
    padding: 20px;
    box-shadow: 3px 5px rgb(187, 186, 186);
    animation: clickMe 2s infinite;
}

#scoreOptionWrapper label {
    background-color: #aaa;
    /* background-color: rgb(206, 206, 206); */
	border: 1px solid #fff;
	border-radius: 20px;
	position: relative;
	width: 39px;
	height: 21px;
}

#scoreOptionWrapper label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1.5px;
	left: 1px;
	transform: translateX(0);
	transition: transform 0.3s linear;
	width: 18px;
	height: 18px;
}
#scoreOptionWrapper input:checked + label {
    background-color: #84fab0;
}

#scoreOptionWrapper input {
	visibility: hidden;
}
#scoreOptionWrapper input:checked + label::after {
	transform: translateX(calc(100% + 0.5px));
}

@keyframes clickMe {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out
    }
    25% {
        transform: translate(0px, 4px);
        animation-timing-function: ease-in-out
    }
    50% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out
    }
    75% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out
    }
    100% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out
    }
}

#startChalBtn:hover,
#startChalBtn:active {
    box-shadow: 3px 5px rgb(143, 142, 142);
    transform: translateY(4px);
}


/*______________Challenge in progress style________________*/

#challengeSong {
    display: flex;
}

#challengeUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #eee solid 2px;
    ;
}

#challengeUser span {
    font-family: Jua, sans-serif;
    font-size: 4em;
    color: #f460faff;
    border-radius: 20px;
}

#challengeUser p {
    font-family: Jua, sans-serif;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 2em;
    color: #f460faff;
    border-radius: 20px;
}

#challengeSong img {
    margin-left: 7%;
}

#mainSongInfo {
    padding-left: 5%;
    width: 70%;
}

.challengeCode {
    width: 30% !important;
}

.songBrandCodeContainer {
    display: flex;
}

#scoreEnterDiv {
    background-color: #84fab0;
    width: 15%;
    margin-right: 5%;
    padding-left: .5%;
    border-radius: 20px;
}

.addScoreImg {
    width: 80%;
}

.addScoreText {
    margin-top: 2%;
    margin-left: 4%;
    color: rgb(113, 112, 112);
    font-size: 3vh;
}

.yourScoreText {
    margin-left: 10%;
    color: rgb(113, 112, 112);
    font-size: 1em;
}

.enterScore {
    font-size: 1em;
    width: 70%;
    margin-left: 12%;
    margin-top: 10%;
    background-color: #8fd3f4;
    color: white;
    border-radius: 20px;
    border: none;
}

#newScore {
    border: none;
    height: 20%;
    font-size: 1em;
    width: 50%;
    margin-left: 20%;
}

#oldScore {
    font-size: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
}

#challengeSong {
    margin-top: 1%;
}

#challengeBtns {
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#challengeBtns input {
    font-family: sans-serif;
    font-size: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
}

#exitModal p {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 1.5em;
}


/* endChallenge css start */

table,
th,
td {
    border: solid 1px #000;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.singer,
.music,
.score {
    color: #f462fa;
}

table {
    width: 176px;
    border-collapse: collapse;
    margin: 50px auto;
    border-collapse: collapse;
    caption-side: bottom;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#accountBtns {
    display: flex;
    position: relative;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* padding: 11%; */
    margin: 4%;
}

button:hover {
    opacity: 0.8;
}

#backPlaylist,
#challengeAgain {
    display: block;
    width: 39vh;
    height: 20%;
    padding: 14px 0;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    text-decoration: none;
}

.btnEnd {
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 174px;
}

.modalContentEnd {
    background-color: rgb(206, 206, 206);
    box-shadow: -60px 0 120px rgb(240, 240, 240) inset;
    color: white;
    margin: 15% auto;
    padding: 1% 0px 3.5% 0px;
    width: 16%;
    height: 35%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.7em;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
}


/* endChallenge css end */