/**********************************/
/* General Style for the homePage */
/**********************************/
@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.eot);
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
        url(../fonts/GothamPro.woff) format('woff'),
        url(../fonts/GothamPro.ttf) format('truetype'),
        url(../fonts/GothamPro.svg) format('svg'),
        url(../fonts/GothaPro.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(243, 243, 243);
    /* background-color: rgba(0, 0, 0, 0.50); */
}
#mainWrapper {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    height: 99.9vh;
    margin: auto;
    width: 65%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: 'Gotham Pro';
}

#banner {
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    height: 15%;
}
#logo {
    border-radius: 20px;
}

#mainContent {
    background-color: rgb(37, 37, 37);
    height: 60%;
    border-radius: 20px;
}

#nav {
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    height: 15%;
}
ul {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
ul li {
    align-items: baseline;
    width: 10%;
    height: 50%;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 0.9em;
}

ul li:first-child {
    background-color: rgb(123, 147, 255);
}

ul li:nth-child(2) {
    background-color: rgb(253, 255, 123);
}

ul li>img {
    height: 60%;
    width: 50%;
}

